/* Light Mode */

:root {
  /* Colours */
  --background: #fff;
  --background-alt: #333;
  --background-alt-2: #f0f0f0;
  --background-transparent: #ffffffe8;
  --border: 0.01rem solid #333;
  --text: #333;
  --text-alt: #fff;

  /* Face animations */
  --tl-1: url(../assets/face-animation-light/tl-1.jpeg);
  --tl-2: url(../assets/face-animation-light/tl-2.jpeg);
  --tl-3: url(../assets/face-animation-light/tl-3.jpeg);
  --tl-4: url(../assets/face-animation-light/tl-4.jpeg);
  --tl-5: url(../assets/face-animation-light/tl-5.jpeg);

  --tr-1: url(../assets/face-animation-light/tr-1.jpeg);
  --tr-2: url(../assets/face-animation-light/tr-2.jpeg);
  --tr-3: url(../assets/face-animation-light/tr-3.jpeg);
  --tr-4: url(../assets/face-animation-light/tr-4.jpeg);
  --tr-5: url(../assets/face-animation-light/tr-5.jpeg);

  --bl-1: url(../assets/face-animation-light/bl-1.jpeg);
  --bl-2: url(../assets/face-animation-light/bl-2.jpeg);
  --bl-3: url(../assets/face-animation-light/bl-3.jpeg);
  --bl-4: url(../assets/face-animation-light/bl-4.jpeg);
  --bl-5: url(../assets/face-animation-light/bl-5.jpeg);

  --br-1: url(../assets/face-animation-light/br-1.jpeg);
  --br-2: url(../assets/face-animation-light/br-2.jpeg);
  --br-3: url(../assets/face-animation-light/br-3.jpeg);
  --br-4: url(../assets/face-animation-light/br-4.jpeg);
  --br-5: url(../assets/face-animation-light/br-5.jpeg);

  --sun: url(../assets/icons/sun.png);
}

/* Dark Mode */

:root.dark-mode {
  --background: #202124;
  --background-alt: #3c3d40;
  --background-alt-2: #333;
  --background-transparent: #333333f5;
  --border: 0.01rem solid #5a5a5a;
  --text: #fff;

  --tl-1: url(../assets/face-animation-dark/tlw-1.jpeg);
  --tl-2: url(../assets/face-animation-dark/tlw-2.jpeg);
  --tl-3: url(../assets/face-animation-dark/tlw-3.jpeg);
  --tl-4: url(../assets/face-animation-dark/tlw-4.jpeg);
  --tl-5: url(../assets/face-animation-dark/tlw-5.jpeg);

  --tr-1: url(../assets/face-animation-dark/trw-1.jpeg);
  --tr-2: url(../assets/face-animation-dark/trw-2.jpeg);
  --tr-3: url(../assets/face-animation-dark/trw-3.jpeg);
  --tr-4: url(../assets/face-animation-dark/trw-4.jpeg);
  --tr-5: url(../assets/face-animation-dark/trw-5.jpeg);

  --bl-1: url(../assets/face-animation-dark/blw-1.jpeg);
  --bl-2: url(../assets/face-animation-dark/blw-2.jpeg);
  --bl-3: url(../assets/face-animation-dark/blw-3.jpeg);
  --bl-4: url(../assets/face-animation-dark/blw-4.jpeg);
  --bl-5: url(../assets/face-animation-dark/blw-5.jpeg);

  --br-1: url(../assets/face-animation-dark/brw-1.jpeg);
  --br-2: url(../assets/face-animation-dark/brw-2.jpeg);
  --br-3: url(../assets/face-animation-dark/brw-3.jpeg);
  --br-4: url(../assets/face-animation-dark/brw-4.jpeg);
  --br-5: url(../assets/face-animation-dark/brw-5.jpeg);

  --moon: url(../assets/icons/moon.png);
}

#colour-mode {
  background: var(--background-alt-2);
  height: 2.75rem;
  width: 4rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#toggle-button {
  background-image: var(--sun);
  background-size: contain;
  cursor: pointer;
}

.dark-mode #toggle-button {
  background-image: var(--moon);
}

.dark-mode #colour-mode {
  justify-content: flex-end;
}
